<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">STUDEO</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/home/catalogue">Catalogue</a></li>
        <li><a href="/home/how">How it Works</a></li>
        <li><a href="/home/design">Custom Design</a></li>
	<li><a href="/home/about">About</a></li>
	<li><a href="/home/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home/sign_up">Sign Up</a></li>
        <li><a href="/home/logged_in">Log In</a></li>
      </ul>
    </div>
  </div>
</div>
