<div class="row">
  <div class="col-md-12">
    <!-- <div class="page-header"> -->
      <h2>ABOUT STUDEO <small>the people behind the curtain...</small></h2>
    <!-- </div> -->
  </div>
</div>

<div class="control-group">&nbsp;</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h4>Who’s behind Studeo</h4>    
    <p>We are a group of dissidents from the advertising, digital marketing, graphic design and programming worlds. And like most breathing adults who wish to make a living not solely through their own sweat, we also share a strong interest in real estate.</p>
    <h4>How Studeo was born</h4>
    <p></p>Existing methodologies of online real estate marketing seemed stuck in 1994. So one day we all jumped into the Blendtec – yes, it did blend – and Studeo poured out.
  </div>
</div>
