<div class="row">
  <div class="col-md-12">
    <!-- <div class="page-header"> -->
    <h2>CONTACT US <small>if you have something to say</small></h2>
    <!-- </div> -->
  </div>
</div>

<div class="control-group">&nbsp;</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h4>Troubles, Praise, Questions?</h4>
    <p>Feel free to contact us, using the form below and we’ll tend to you ASAP.</p>
    <p>To contact us by phone, please call toll-free in the U.S. or Canada: 1-800-610-4710</p>

    <div class="control-group">&nbsp;</div>

    <form class="form-horizontal" role="form">
      <div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">What is this issue about?</label>
	<div class="col-sm-6">
	  <select class="form-control">
	    <option>askdl jfaklsdjf </option>
	    <option>asd fasd fsd f</option>
	    <option>thsthsht</option>
	    <option>sthshsth</option>
	    <option>sthsth</option>
	  </select>
	</div>
      </div>
      <div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">Your Full Name</label>
	<div class="col-sm-6">
	  <input type="email" class="form-control" id="inputEmail3" placeholder="Full Name">
	</div>
      </div>
      <div class="form-group">
	<label for="inputEmail3" class="col-sm-4 control-label">Email Address</label>
	<div class="col-sm-6">
	  <input type="email" class="form-control" id="inputEmail3" placeholder="Email Address">
	</div>
      </div>
      <div class="form-group">
	<label for="inputPassword3" class="col-sm-4 control-label">Your Message</label>
	<div class="col-sm-6">
	  <textarea class="form-control" rows="3" placeholder="What would you like to tell us?"></textarea>
	</div>
      </div>

      <div class="form-group">
	<div class="col-sm-offset-4 col-sm-6">
	  <button type="submit" class="btn btn-primary">Send Feedback</button>
	</div>
      </div>
    </form>
  </div>
</div>
