<% content_for :menu do %>
<%= render partial: 'menus/logged_in' %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <!-- <div class="page-header"> -->
      <h2>DASHBOARD <small>information at a glance</small></h2>
    <!-- </div> -->
  </div>
</div>

<div class="control-group">&nbsp;</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Attention <sup><span class="badge badge-warning">3</span></sup></h3>
      </div>
      <!-- <div class="panel-body"></div> -->
      <ul class="list-group">
	<li class="list-group-item">Complete your personal information</li>
	<li class="list-group-item">Create a brochure</li>
	<li class="list-group-item">love thyself...</li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">In Progress <sup><span class="badge badge-important">2</span></sup></h3>
      </div>
      <div class="panel-body">
	<ul class="list-unstyled">
	  <li><a href="#">Harmony Gardens</a></li>
	  <li><a href="#">Fortress of Solitude</a></li>
	</ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Project Status</h3>
      </div>
      <div class="panel-body">
	Panel content
      </div>
    </div>
  </div>
</div>


