<div class="row">
  <div class="col-md-12">
    <!-- <div class="page-header"> -->
      <h2>CUSTOM DESIGN <small>we will help make your ideas even better</small></h2>
    <!-- </div> -->
  </div>
</div>

<div class="control-group">&nbsp;</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <p>If you already like what Studeo is doing for you, why not take it up a couple dozen notches and let us create a complete look and feel, stunningly infused with your brand?</p>

    <h4>You are a brand</h4>
    
    <p>Whether you’re an individual agent, a local brokerage or a multinational brand, we’ll work nice and closely with you to custom-design professional brochure designs that are pure you you you.</p>

    <h4>Start your engines...</h4>
    <p>email: <a href="mailto:designme@studeohq.com">designme@studeohq.com</a></p>
  </div>
</div>
