<div class="row">
  <div class="col-md-12">
    <!-- <div class="page-header"> -->
      <h2>HOW IT WORKS <small>our process</small></h2>
    <!-- </div> -->
  </div>
</div>

<div class="control-group">&nbsp;</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h4>This is all you have to do</h4>

    <ol>
      <li>Choose a brochure layout</li>
      <li>Drag and drop images from your computer into the desired boxes in your brochure.</li>
      <li>Click the placeholder text to change the copy.</li>
      <li>Proofread/check everything twice to ensure there are no misspellings in your descriptions, addresses, prices, etc.</li>
      <li>Approve and submit.</li>
    </ol>

    <div class="control-group">&nbsp;</div>

    <p><strong>Then we print and ship wherever you choose.</strong></p>
    
    <div class="control-group">&nbsp;</div>

    <p class="lead">You’ll quickly learn what works best and how to tailor your listings to sell faster and higher than the other guy. Talk about competitive edge, baby.</p>
  </div>
</div>
