<div class="jumbotron">
  <h1>Fast. Stunning. Easy.</h1>
  <p class="lead">Beautiful real estate brochures...</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Sign Up Now &raquo;</a>
  </p>
</div>
