<div class="row">
  <div class="col-md-6">
    <h2>MESS AROUND <small>playground of doom</small></h2>
  </div>
</div>

<div class="control-group">&nbsp;</div>

<div class="row">
  <div class="col-md-3 shazam">
    <p class="pull-right">Select page to edit:</p>
    <!-- <div class="control-group">&nbsp;</div> -->
  </div>

  <div class="col-md-9">
    <ul class="pagination pull-left">
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
    </ul>
  </div>
</div>

