<% content_for :menu do %>
  <%= render partial: 'menus/logged_in' %>
<% end %>

<div class="row">
  <div class="col-md-5">
    <div class="page-header">
      <h2>STUDEO <small>SIGN UP</small></h2>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-2">
    <div class="control-group">&nbsp;</div>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default">STEP 1</button>
      <button type="button" class="btn btn-default active">STEP 2</button>
      <button type="button" class="btn btn-default">STEP 3</button>
    </div>
  </div>
</div>
